SECRET_KEY=your_secret_key_here
DEBUG=True

# Local Database configuration
DB_NAME=civicwaste
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

# Cloud Deployment Variables (For Render / Production)
# DATABASE_URL=mysql://user:password@host:port/database
# CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
