# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media
media/

# IDEs
.idea/
.vscode/

# Ignore test scripts
test_penalty.py
debug_tx.py
dump.rdb
